<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dating App</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.8/vue.js"></script> <!--Forudsætning for at bruge Vue-->

</head>
<body>
    <div id="app">

        <div class="header">
            <div v-html="pageTitle"></div>
        </div>

        <div class="container">
            <div v-if="showContainer=='Login'">

            </div>

            <div v-if="showContainer=='Create'">
                <div>
                    <label class="label1"><span>Navn</span><input type="text" v-model="createUser.name" required></label><br>
                    <label class="label1"><span>Fødselsdag</span><input type="date" v-model="createUser.dateOfBirth" required></label><br>
                    <label class="label1"><span>Postnummer</span><input type="text" v-model="createUser.zipCode" required></label><br>
                    <label class="label1"><span>Email</span><input type="email" v-model="createUser.email" required></label><br>
                    <label class="label1"><span>Password</span><input type="password" v-model="createUser.password" required></label><br>

                    <div style="text-align: left;">
                        <button @click="clickCreate()">Opret bruger</button>            
                    </div>

                    <div style="text-align: left;">
                        {{createSuccess}} <!--Henter data fra Vue-funktion clickCreate + Vue-data-->
                    </div>
                </div>
            </div>

            <div v-if="showContainer=='Frontpage'">

            </div>

            <div v-if="showContainer=='MyProfile'">

            </div>
        </div>

    </div>
    <script>
        var vm = new Vue({
            el: '#app',
            methods: {
                clickCreate: function () {
                    var requestOptions = {
                        method: "POST", //CREATE
                        headers: { 'Content-type': 'application/json; charset=UTF-8' }, //indicates the content. UTF-8 = der kan skrive æøå
                        body: JSON.stringify(this.createUser)
                    };
                    
                    this.error = null;
                    fetch('/api/user/create', requestOptions)
                    .then(async response => {

                        //tjekker om der er fejl i svaret
                        if (!response.ok) { //hvis der fås et svar med statuskode >299 = fejl
                            const data = await response.text(); //svaret kommer retur som tekst og ikke en JSON-fil = fejl
                            const error = response.status + ': ' + ((data && data.message) || response.statusText);
                            return Promise.reject(error); //throw error to catch
                        }

                        const data = await response.json();
                        this.createUser = data;
                        this.createSuccess = this.createUser.name + ' was created successfully';
                    })
                    .catch(error => {
                        alert(error);
                    });
                }

            },
            computed: {
                pageTitle: function () { //hvis følgende container er kaldt, ændres sidens titel herefter.
                if (this.showContainer == 'Login') return '<span style="font-size:24px">Velkommen</span><br/>Udfyld følgende form for at logge ind';
                if (this.showContainer == 'Create') return '<span style="font-size:24px">Opret Bruger</span><br/>Udfyld følgende form for at oprette en bruger';
                if (this.showContainer == 'FrontPage') return '<span style="font-size:24px">Forside</span><br/>Like for match, dislike for at passere';
                if (this.showContainer == 'MyProfile') return '<span style="font-size:24px">Min profil</span><br/>Opdatér din profil her';
                return this.showContainer; //hvis ikke der er kaldt en container, vises default som vist i data
            }
            },
            data: { //hvad skal som default altid være udfyldt på siden
                showContainer: 'Create', //denne side/container vises, når man tilgår siden localhost:3000/

                error: null,

                createUser: {
                    name: '',
                    dateOfBirth: '',
                    zipCode: '',
                    email: '',
                    password: ''
                },

                createSuccess: ''

            }
        });
    </script>
</body>
</html>