<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dating App</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.8/vue.js"></script> <!--Forudsætning for at bruge Vue-->

</head>
<body>
    <div id="app">
        <div v-if="showContainer!='Login' && showContainer!='Create'">
            <button @click="showContainer='MyProfile'">Min profil</button>
            <button @click="showContainer='MyMatches'">Mine matches</button>
            <button @click="showContainer='Login'">Log ud</button>
        </div>

        <div class="header">
            <div v-html="pageTitle"></div>
        </div>

        <div class="container">
            <div v-if="showContainer=='Login'">
                <div>
                    <form @submit.prevent="showContainer='Create'">
                        <label class="label1"><span>Email</span><input type="email" v-model="loginUser.email" required></label><br>
                        <label class="label1"><span>Password</span><input type="password" v-model="loginUser.password" required></label><br>

                        <div style="text-align: left;">
                            <button type="submit">Login</button>
                        </div>

                        <div style="text-align: left;">
                            <p>Ikke bruger endnu?</p><div><button @click="showContainer='Create'">Opret dig her</button></div>
                        </div>
                    </form>
                </div>    
            </div>

            <div v-if="showContainer=='Create'">
                <div>
                    <form @submit.prevent="clickCreate()"> <!--Formen submittes ikke - i stedet kører funktionen clickCreate(). Form-tagget skyldes brug af "required"-->
                        <label class="label1"><span>Navn</span><input type="text" v-model="createUser.name" required></label><br>
                        <label class="label1"><span>Fødselsdag</span><input type="date" v-model="createUser.dateOfBirth" required></label><br>
                        <label class="label1"><span>Postnummer</span><input type="text" v-model="createUser.zipCode" required></label><br>
                        <label class="label1"><span>Email</span><input type="email" v-model="createUser.email" required></label><br>
                        <label class="label1"><span>Password</span><input type="password" v-model="createUser.password" required></label><br>
                        <label class="label1"><span>Beskriv dig selv</span><input type="text" v-model="createUser.description" required></label><br>

                        <div style="text-align: left;">
                            <button type="submit">Opret bruger</button>            
                        </div>

                        <div style="text-align: left;">
                            <button @click="showContainer='Login'">Allerede bruger? Login her</button>
                        </div>
                    </form>
                </div>
            </div>

            <div v-if="showContainer=='FrontPage'">
                <label class="label1"><span>{{user.name}}, {{user.dateOfBirth}}, {{user.zipCode}}, {{user.description}}</span></label>
                <div style="text-align: left;">
                    <button @click="">Like</button>
                    <button @click="">Dislike</button> 
                </div>
            </div>

            <div v-if="showContainer=='MyProfile'">
                <div class="label1">
                    <p>Opdatér min profil her</p>
                    <p>Slet min profil her</p>
                    <p>Log ud</p>
                </div>
            </div>

            <div v-if="showContainer=='MyMatches'">
                <div class="label1">
                    <p>Brugere jeg har matchet med</p>
                    <p>Brugere jeg har liket</p>
                </div>
            </div>
        </div>

    </div>
    <script>
        var vm = new Vue({
            el: '#app',
            methods: {
                clickLogin: function () {

                    var requestOptions = {
                        method: "GET",
                    };

                    this.error = null;
                    fetch('api/user/login', requestOptions)
                    .then(async response => {

                        if (!response.ok) {
                            const data = await response.text();
                            const error = response.status + ': ' + ((data && data.message) || response.statusText);
                            return Promise.reject(error);
                        }

                        const data = await response.json();
                        this.loginUser = data;
                        this.showContainer = 'FrontPage';
                    })
                    .catch(error => {
                        alert(error);
                    });
                },

                clickCreate: function () {
                    var requestOptions = {
                        method: "POST", //CREATE
                        headers: { 'Content-type': 'application/json; charset=UTF-8' }, //indicates the content. UTF-8 = der kan skrive æøå
                        body: JSON.stringify(this.createUser)
                    };
                    
                    this.error = null;
                    fetch('/api/user/create', requestOptions)
                    .then(async response => {

                        //tjekker om der er fejl i svaret
                        if (!response.ok) { //hvis der fås et svar med statuskode >299 = fejl
                            const data = await response.text(); //svaret kommer retur som tekst og ikke en JSON-fil = fejl
                            const error = response.status + ': ' + ((data && data.message) || response.statusText);
                            return Promise.reject(error); //throw error to catch
                        }

                        const data = await response.json();
                        this.createUser = data;
                        this.showContainer='FrontPage';
                        //this.createSuccess = this.createUser.name + ' was created successfully';
                    })
                    .catch(error => {
                        alert(error);
                    });
                }
            },
            
            computed: {
                pageTitle: function () { //hvis følgende container er kaldt, ændres sidens titel herefter.
                    if (this.showContainer == 'Login') return '<span style="font-size:24px">Velkommen</span><br/>Udfyld følgende form for at logge ind';
                    if (this.showContainer == 'Create') return '<span style="font-size:24px">Opret Bruger</span><br/>Udfyld følgende form for at oprette en bruger';
                    if (this.showContainer == 'FrontPage') return '<span style="font-size:24px">Forside</span><br/>Like for match, dislike for at passere';
                    if (this.showContainer == 'MyProfile') return '<span style="font-size:24px">Min profil</span><br/>Opdatér din profil her';
                    if (this.showContainer == 'MyMatches') return '<span style="font-size:24px">Mine matches</span><br/>Se dine matches her';
                    return this.showContainer; //hvis ikke der er kaldt en container, vises default som vist i data
                }
            },

            data: { //hvad skal som default altid være udfyldt på siden
                showContainer: 'Login', //denne side/container vises, når man tilgår siden localhost:3000/

                error: null,

                loginUser: {
                    email: '',
                    password: ''
                },

                createUser: {
                    name: '',
                    dateOfBirth: '',
                    zipCode: '',
                    email: '',
                    password: '',
                    description: ''
                },

                //createSuccess: '',

                user: {
                    name: 'Anders And',
                    dateOfBirth: '2020-05-07',
                    zipCode: '2000',
                    description: 'Jeg er altid sur'
                }
            }
        });
    </script>
</body>
</html>