
body {
    margin: 0px;
}

.loginHeader {
    background-color: #20B2AA;
    margin: 0px;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: 100;
}

h1 {
    margin: 0;
    font-weight: 100;
}

.navbar {
    background-color:#ADD8E6;
    padding: 10px;
}